@use 'components/shared/styles/mixins' as *;

.layout {
    --app-header-height: var(--app-header-height);
    min-height: 100dvh;
    overflow: hidden;
    background: var(--rm-shell-run-panel);
    display: flex;
    flex-direction: column;
    height: 100vh;

    .deriv-header {
        background: var(--rm-shell-top);
        height: 4rem;
        min-height: var(--app-header-height);
    }

    &.quick-strategy-active {
        .deriv-header {
            @include mobile-or-tablet-screen {
                z-index: 10000;
            }
        }
    }
}
